body {
    margin: 0;
    overflow: hidden;
}

.dummy {
    width: 100vw;
    height: 120vh;
    position: absolute;
}

.App {
  text-align: center;
}

.hlcall {
    position: relative;
    background: black;
    width: 100%;
    height: 100%;
}

.incall {
    font-size: 2em;
    position: absolute;
    width: 100%;
    height: 100%;
    background: beige;
}

.top {
    position: absolute;
    width: 100%;
    top: 0px;
    text-align:center;
}

.center {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align:center;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.bottom {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
}

div {
    outline: 5px solid black;
}
